
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#listaDisp>div.col{
    background-color: #124580;
    border: 2px black;
    margin-bottom: 15px;
    margin-right: 10px;
    width: 250px; /* Ancho fijo */
    height: 250px;
    color: white;
}

/*Formato para el boton Agregar dispositivos*/
.blue{
    
    margin-bottom: 10px;
}

.label-checkbox{
    color: white;
}

#btnRefresh{
    margin-left: 20px;
}

.device-container{
    height: 188px;
    margin-top: 10px;
}

h4{
    margin: auto;
}

button{
    text-transform: none;
}
