
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#listaDisp>div.col{
    background-color: bisque;
    border: 2px black;
    margin-bottom: 15px;
    margin-right: 10px;
    width: 250px; /* Ancho fijo */
    height: 250px;
}

/*Formato para el boton Agregar dispositivos*/
.blue{
    background-color: blue;
    margin-bottom: 10px;
}

#btnRefresh{
    margin-left: 20px;
}
